  <div class="panel panel-info" id="faq">
    <div class="panel-heading"><%= __('faq.title') %></div>
    <div class="panel-body">
            <!-- Part A -->
            <div class="card bes-card">
              <div class="card-body">

              <ul class="list-group">

                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold"><%= __('faq.head1') %></div>
                    <%= __('faq.body1') %>
                    <br/> <small>(<%= __('faq.body1b') %>)</small>.
                    <br/>
                    <%= __('faq.body1c') %>
                  </div>
                  <span class="badge text-bg-primary rounded-pill"><%= __('faq.tag1') %></span>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold"><%= __('faq.head2') %></div>

                    <%- __('faq.body2') %><br/>
                    <%- __('faq.body2a') %><br/>
                    <%- __('faq.body2b') %>

                  </div>
                  <span class="badge text-bg-primary rounded-pill"><%= __('faq.tag2') %></span>
                </li>

              </ul>

              </div>
            </div>
            <br/>
    </div>
  </div>