  <div class="panel panel-info" id="faq">
    <div class="panel-heading"><%= __('faq.title') %></div>
    <div class="panel-body">
            <!-- Part A -->
            <div class="card bes-card">
              <div class="card-body">

              <ul class="list-group">

                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold"><%= __('faq.head1') %></div>
                    <%= __('faq.body1') %>
                    <ul class="mt-2">
                      <li><%- __('faq.body1a') %></li>
                      <li><%- __('faq.body1b') %></li>
                    </ul>
                    <%- __('faq.body1c') %><br/>
                    <%- __('faq.body1d') %><br/>
                    <small><em><%- __('faq.body1e') %></em></small>
                  </div>
                  <span class="badge text-bg-primary rounded-pill"><%= __('faq.tag1') %></span>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold"><%= __('faq.head2') %></div>

                    <%- __('faq.body2') %><br/>
                    <%- __('faq.body2a') %><br/>
                    <%- __('faq.body2b') %><br/>
                    <%- __('faq.body2c') %><br/>
                    <%- __('faq.body2d') %>

                  </div>
                  <span class="badge text-bg-primary rounded-pill"><%= __('faq.tag2') %></span>
                </li>

              </ul>

<!-- BeS example -->
<blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:jkvb3exm4wg3jt5veu75qppn/app.bsky.feed.post/3kv7jfvbluh2d" data-bluesky-cid="bafyreig6n4yrk7fwx5722vncxputom5s34fzlh5y5cx7v57s3picub6qmy"><p lang="">Pl@ntNet identifie (à 94.44%) Prunus × yedoensis (fam Rosaceae) com. Cerisier Yoshino
#BeSPlantnet #IndentificationDePlantes<br><br><a href="https://bsky.app/profile/did:plc:jkvb3exm4wg3jt5veu75qppn/post/3kv7jfvbluh2d?ref_src=embed">[image or embed]</a></p>&mdash; botEnSky (<a href="https://bsky.app/profile/did:plc:jkvb3exm4wg3jt5veu75qppn?ref_src=embed">@botensky.bsky.social</a>) <a href="https://bsky.app/profile/did:plc:jkvb3exm4wg3jt5veu75qppn/post/3kv7jfvbluh2d?ref_src=embed">Jun 18, 2024 at 17:36</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>


              </div>
            </div>
            <br/>
    </div>
  </div>