<div class="panel panel-info" id="logs">
    <div class="panel-heading"><%= __('home.bot_activities') %></div>
    <div class="panel-body">

        <!-- Logs intro -->
        <div class="card bes-card">
          <div class="card-body">
            <%= __('home.welcome_on_bot_page') %> <a href="<%- blueskyAccount %>"
                                        data-umami-event="{blueskyAccount link}" id="blueskyAccount-link"
                                        class="umami--click--profile-button">@<%- blueskyDisplayName %></a>
              : <%= __('home.a_bluesky_bot') %> <a href="https://nodejs.org/"
                                    data-umami-event="{nodejs link}" id="nodejs-link"
                                    class="umami--click--nodejs-button">Node.js</a>
                                    <sup><%= __('home.version') %><%- version %></sup>.<br/>
          </div>
        </div>

    </div>
    <br/>


    <!-- Part A -->
    <div class="card bes-card">
      <div class="card-body">

          <a href="/" data-umami-event="{logs-refresh link}?lang=<%= locale %>" id="logs-refresh-link">🔄</a> 🧾 <b><%= __('home.activities') %></b><br/>
            <small><%= __('home.freshness') %> : <%- news.to %> - TZ : <%- tz %></small>
            <br/>
            <br/>

          <!-- Logs per date MENU - tabs https://getbootstrap.com/docs/5.3/components/navs-tabs/ -->
          <ul class="nav nav-pills">
            <% if (news?.data)  {
             Object.keys(news.data).forEach((item, index) => { %>
              <li class="nav-item logDate">
                <a id="logDate-<%- index %>-menu" class="nav-link" href="#" onClick="toggleLogDateContent('logDate-<%- index %>')"
                                data-umami-event="{home logs <%- item %>}" id="home-logs-<%- index %>"
                                ><%- item %></a>
              </li>
            <% }) } else { %> <!-- no activity = no menu--><br/> <% } %>
            <li class="nav-item logDate">
              <a id="logDate-week-menu" class="nav-link" href="#" onClick="toggleLogDateContent('logDate-week')"
                              data-umami-event="{home logs week}" id="home-logs-week"
                              ><%- __('home.seven_days_analytics') %></a>
            </li>
          </ul>
          <br/>

          <!-- Logs list-->
          <% if (news?.data)  {
          Object.keys(news.data).forEach((item, index) => {
            if (news.data[item].length > 0) {
            %>
          <div class="panel" id="logDate-<%- index %>">
              <!-- <div class="panel-heading">Les logs du <%- item %></div> -->
              <ul class="logLine list-group home-logs">
                 <% news.data[item].forEach(function(newsEntry){ %>
                   <li class="list-group-item home-log msgContainer"><%- newsEntry.dt  %> | <%- newsEntry.message  %></li>
                 <% }); %>
              </ul>
          </div>
           <%
           }
          }) } else { %> &#160;<!-- no activity --><br/><% } %>

          <!-- 7 jours -->
          <div class="panel" id="logDate-week">
              <b><%- __('home.seven_days_analytics') %></b> : <a href="https://bsky.app/search?q=from%3Abotensky.bsky.social"><%- summary.posts %> <%- __('home.posts') %></a>, <%- summary.likes %> ❤️ <%- summary.replies %> ⬅️,  <%- summary.reposts %> 🔁
              <br/><br/><b><%- __('home.best_score') %></b> : <%- summary.bestScore %> (<%- summary.bestScorePosts?.length %> posts) - <%- __('home.examples') %> : <br/><%- summary.bestScorePostsHtml %>
              <br/><br/><b><%- __('home.best_likes') %></b> :<%- summary.bestLikes %> (<%- summary.bestLikesPosts?.length %> posts) - <%- __('home.examples') %> : <br/><%- summary.bestLikesPostsHtml %>
          </div>

      </div>
    </div>
    <br/>

    </div><!-- panel-body -->