  <div class="panel panel-info" id="principes">
    <div class="panel-heading"><%= __('principles.bot_principles') %></div>
    <div class="panel-body">
            <!-- Part A -->
            <div class="card bes-card">
              <div class="card-body">
              <!-- examples commons -->
              <script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>

              <b><%= __('principles.functions') %></b>
              <ul>
<!-- #BeSPlantnet -->
              <li><b><a href="https://bsky.app/hashtag/BeSPlantnet" target="_bluesky">#BeSPlantnet</a></b> - <%= __('principles.besplantnet.head') %><br/><br/>
                   <%= __('principles.besplantnet.body') %>
              </li>

                  <!-- BeSPlantnet example -->
                  <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:jkvb3exm4wg3jt5veu75qppn/app.bsky.feed.post/3kv2rkoqy5x2w" data-bluesky-cid="bafyreia7axfc4pwo5jvuw5mb5ap7zpmxhmkqk6k2cpwtsrldtn66gfncaa"><p lang="">Pl@ntNet identifie (à 80.29%) Couroupita guianensis (fam Lecythidaceae) com. Arbre à boulet de canon, Calabasse Colin, Abricot-macaque
                  #BeSPlantnet #IndentificationDePlantes<br><br><a href="https://bsky.app/profile/did:plc:jkvb3exm4wg3jt5veu75qppn/post/3kv2rkoqy5x2w?ref_src=embed">[image or embed]</a></p>&mdash; botEnSky (<a href="https://bsky.app/profile/did:plc:jkvb3exm4wg3jt5veu75qppn?ref_src=embed">@botensky.bsky.social</a>) <a href="https://bsky.app/profile/did:plc:jkvb3exm4wg3jt5veu75qppn/post/3kv2rkoqy5x2w?ref_src=embed">Jun 16, 2024 at 20:18</a></blockquote>
                  <br/><br/>

<!-- #BeSAskPlantnet -->
              <li><b><a href="https://bsky.app/hashtag/BeSAskPlantnet" target="_bluesky">#BeSAskPlantnet</a></b> - <%= __('principles.besaskplantnet.head') %><br/><br/>
                  <%- __('principles.besaskplantnet.body') %>
              </li>

                  <!-- BeSAskPlantnet example -->
                  <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:jkvb3exm4wg3jt5veu75qppn/app.bsky.feed.post/3ku6ujolvd22w" data-bluesky-cid="bafyreig7yo3pptqetfbfagvzsebxeaitwzwxf3fyfpx3ee6irk7aawygky"><p lang="">Pl@ntNet identifie (à 27.70%) Myosotis decumbens (fam Boraginaceae) com. Myosotis retombant, Myosotis étalé
                  #BeSAskPlantnet #IndentificationDePlantes<br><br><a href="https://bsky.app/profile/did:plc:jkvb3exm4wg3jt5veu75qppn/post/3ku6ujolvd22w?ref_src=embed">[image or embed]</a></p>&mdash; botEnSky (<a href="https://bsky.app/profile/did:plc:jkvb3exm4wg3jt5veu75qppn?ref_src=embed">@botensky.bsky.social</a>) <a href="https://bsky.app/profile/did:plc:jkvb3exm4wg3jt5veu75qppn/post/3ku6ujolvd22w?ref_src=embed">Jun 5, 2024 at 17:57</a></blockquote>
                  <br/><br/>

<!-- #BeSBioClip -->
              <li><b><a href="https://bsky.app/hashtag/BeSBioClip" target="_bluesky">#BeSBioClip</a></b> - <%= __('principles.besbioclip.head') %><br/><br/>
                  <%- __('principles.besbioclip.body') %>
              </li>

<!-- #BeSAskBioClip -->
              <li><b><a href="https://bsky.app/hashtag/BeSAskBioClip" target="_bluesky">#BeSAskBioClip</a></b> - <%= __('principles.besaskbioclip.head') %><br/><br/>
                  <%- __('principles.besaskbioclip.body') %>
              </li>


                  <!-- BeSBioClip example -->
                  <img src="https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:enfg4d3wj5udrx3p66bttsq6/bafkreibis5zkx4lojiwir3kyzxoswgdwsn4ocrvvsbiej6vxnm5hwftco4@jpeg" class="medium-post-image" alt="post example of a bird" title="post example of a bird">
                  <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:jkvb3exm4wg3jt5veu75qppn/app.bsky.feed.post/3kwwag6ok3r2x" data-bluesky-cid="bafyreicbu4a4lwbx2wrbz2iurmn7l4wswscjql4h2rkfzqratwugfnebu4"><p lang="">BioClip identify (at 98.69%) Tyrannus tyrannus genus:Tyrannus (fam. Tyrannidae) com. Eastern Kingbird
                  Avibase flickr
                  https://tinyurl.com/2xmvc3b9
                  #BeSBioClip #TreeOfLife10MPrediction</p>&mdash; botEnSky (<a href="https://bsky.app/profile/did:plc:jkvb3exm4wg3jt5veu75qppn?ref_src=embed">@botensky.bsky.social</a>) <a href="https://bsky.app/profile/did:plc:jkvb3exm4wg3jt5veu75qppn/post/3kwwag6ok3r2x?ref_src=embed">Jul 10, 2024 at 11:51</a>
                  <br/><br/>
 <br/><br/> <br/><br/> <br/><br/> <br/><br/>

              </ul>

              </div>
            </div>
            <br/>
            <!-- Part B -->
            <div class="card bes-card">
              <div class="card-body">
                <b>Projet</b>
                <ul>
                    <li><%= __('project.line1') %></li>
                    <li><%= __('project.line2') %>
                     <a href="<%- projectIssues %>"
                        data-umami-event="{projectIssues link}" id="projectIssues-link"><%= __('project.line2link') %></a></li>
                    <li><%= __('project.line3') %></li>
                    <li><%= __('project.line4') %></li>
                    <li><%= __('project.line5') %></li>
                    <li><%= __('project.line6') %>
                      <a href="<%- projectDiscussions %>"
                         data-umami-event="{projectDiscussions link}" id="projectDiscussions-link"><%= __('project.line6link') %></a> !
                </ul>

              </div>
            </div>
    </div>
  </div>